**/**/.idea
**/**/obj
**/**/bin
**/**/build
**/**/target
**/**/.cache
**/**/*.sln
**/**/*.csproj
**/**/*.out
**/**/*.o
**/**/*.obj
**/**/*.txt
**/**/*.pdb
**/**/*.exe
**/**/teste
**/**/test
**/**/input
**/**/main
**/**/*.ilk
**/**/.vscode
**/**/log
